<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{metadata.title}}</title>
  {% if metadata.description %}
    <meta name="description" content="{{ metadata.description }}" />
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/chapabu.css">
</head>
<body>
  <div class="top-bar"></div>
  {{ content | safe }}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  </script>
</body>
</html>
