.superhero {
  display: grid;
  row-gap: var(--scale-300);
  max-width: 25rem;
}

.superhero > * {
  margin: 0 auto;
}

.superhero__avatar {
  max-width: 50%;
  height: auto;
}

.superhero__subtext {
  display: flex;
  margin: unset;
}

.superhero__subtext span {
  flex-shrink: 0;
  padding: 0 0.625em;
}

.superhero__subtext::before,
.superhero__subtext::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--c-primary);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .superhero__avatar {
    max-width: 100%;
  }
}
